ul.spot-list {
    width: 100%;
    list-style: none;
    display: grid;

    /* deixa as colunas com espaços iguais, uma ao lado da outra */
    grid-template-columns: 1fr 1fr;

    /* determina que o espaçamento destes itens seja de 20px */
    grid-gap: 20px;
    margin-bottom: 30px;
}

ul.spot-list li {
    display: flex;
    flex-direction: column;
}

ul.spot-list li header{
    width: 100%;
    height: 120px;
    background-size: cover;
    border-radius: 4px;
}

ul.spot-list li strong{
    margin-top: 10px;
    font-size: 24px;
    color: #444;
}

ul.spot-list li span{
    font-size: 15px;
    color: #999;
}


